@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-[1.2rem] py-4;
}

@font-face {
  font-family: "Nue";
  src: url(HelveticaNeue-Black.otf);
}

@font-face {
  font-family: "Book";
  src: url(Book\ Antiqua\ Font.ttf);
}
